$greyColor: #808080;
$redColor: #FF0320;
$baseWhite: #fff;
$mainGreen: #2DBE61;
$menuBgr: #F3F3F3;
$textColor: #1A1A1A;
$lighterGrey: #E5E5E5;
$secondaryGrey: #717171;
$dateCardColor: #BEBEBE;
$cardTextColor: #999999;
$orangeBtnBgr: #F79E1B;
$redBtnBgr: #D0021B;
$blueBtnBgr: #4CB8BF;
$hoverCardBgr: #F3FBFF;